/* https://coolors.co/673c4f-7f557d-726e97-7698b3-83b5d1 */
:root {
  --affirm: 48, 115, 81;
  --primary: 118, 152, 179;
  --secondary: 114, 110, 151;
  --tertiary: 131, 181, 209;
}

.App {
  display: block;
  width: 100vw;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}



.header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid RGBa(var(--secondary), .5);
  padding: 10px;
}

.header-search-form {
  display: flex;
  flex: 1;
}

.header-search {
  background: RGBa(var(--secondary), .1);
  border: 1px solid RGBa(var(--secondary), .1);
  border-radius: 4px;
  font-size: 12pt;
  padding: 10px;
  display: flex;
  width: 100%;
  max-width: 670px;
}

.header-search:hover {
  background: RGBa(var(--secondary), .1);
  border: 1px solid RGBa(var(--secondary), .3);
  font-size: 12pt;
  padding: 10px;
  display: flex;
  width: 100%;
  max-width: 670px;
}

.header-search:focus {
  background: RGBa(var(--secondary), .02);
  outline: none;
  border: 1px solid RGBa(var(--secondary), .7);
  font-size: 12pt;
  padding: 10px;
  flex: 1;
}

.header-left {
  flex: 1;
  min-width: 225px;
}

.header-right {
  display: flex;
  flex: 4;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.profile-circle {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  width: 40px;
  background: RGBa(var(--tertiary), .6);
  border-radius: 40px;
  transition: background 200ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.profile-circle:hover {
  background: RGBa(var(--tertiary), 1);
}

.panel-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;
}

.panel {
  display: flex;
  flex-direction: column;
}

.panel-one, .panel-two {
  border-right: 1px solid RGBa(var(--primary));
  flex: 1;
  overflow: hidden;
}

.panel-one {
  min-width: 225px;
}

.panel-three {
  flex: 4;
  position: relative;
  padding: 10px;
}



.section-header {
  font-weight: 600;
  padding: 10px 10px;
}



.contact-item {
  padding: 5px 10px;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-item:hover {
  background: RGBa(var(--secondary), .2);
}

.contact-item.active {
  background: RGBa(var(--primary));
  font-weight: 600;
}

.contact-item.active span {
  color: #fff;
  font-weight: 600;
}




.form-wrapper {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 15px;
}

.new-message-bottom-form {
  display: flex;
  flex: 1;
  position: relative;
}

.new-message-bottom-textbox {
  border: 1px solid RGBa(var(--primary), .5);
  border-radius: 4px;
  font-size: 12pt;
  padding: 15px;
  width: 100%;
  resize: none;
}

.new-message-bottom-textbox:hover {
  border: 1px solid RGBa(var(--primary), .9);
}

.new-message-bottom-textbox:focus {
  outline: none;
  border: 1px solid RGBa(var(--primary), 1);
}

.new-message-bottom-button {
  color: white;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: rgb(var(--affirm), .6);
  height: calc(100% - 10px);
  outline: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 0 15px;
  max-height: 45px;
}

.new-message-bottom-button.has-value {
  cursor: pointer;
  background-color: rgb(var(--affirm), .9);
}





.panel-three {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  /* border: 1px solid rgb(var(--primary)); */
  border-radius: 3px;
  margin-top: 10px;
}

.message.hide-sender {
  margin-top: 5px;
}

.message-sender-name {
  font-size: 12px;
}